* {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
}
.container {
  background: linear-gradient(
    180deg,
    hsl(273, 75%, 66%) 30%,
    hsl(240, 73%, 65%)
  );
  padding-top: 80px;
  padding-bottom: 60px;
}
.sub-container {
  background-color: yellow;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.sub-container .svg-container {
  height: 30%;

  background-color: aqua;
}
.sub-container .icon {
  background-color: brown;
  scale: 70%;
  margin: 0;
  padding: 0;
  /* height: 10%; */
  /* width: 60%; */

  /* align-self: center; */
  translate: 0% -50%;
}
.sub-container .faq-container {
  margin-top: -15%;
  height: 90%;
}
