* {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
}
.container {
  background: linear-gradient(
    180deg,
    hsl(273, 75%, 66%) 30%,
    hsl(240, 73%, 65%)
  );
  padding-top: 15vh;
  padding-bottom: 10vh;
}
.sub-container {
  background-color: white;
  width: 80%;
  margin: auto;
  /* display: flex;
  flex-direction: column; */
  border-radius: 30px;
  /* padding-bottom: 10%; */
}
.sub-container .svg-container {
  /* height: 30%; */

  /* background-color: aqua; */
}
.svg-container .icon-mobile {
  /* background-color: brown; */
  /* width: 75%; */
  /* margin: 0;
  padding: 0; */
  /* height: 10%; */
  width: 65%;

  /* align-self: center; */
  translate: 26% -60%;
}
.sub-container .shadow-mobile {
  width: 65%;
  /* scale: 90%; */
  translate: 26% -180%;
}
.sub-container .icon-desktop {
  display: none;
}
.sub-container .shadow-desktop {
  display: none;
}
.sub-container .box-desktop {
  display: none;
}
.sub-container .faq-container {
  margin-top: min(-40%, -100px);
}
.faq-container h1 {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
}

@media (min-width: 792px) {
  .container {
  }
  .sub-container {
    display: flex;
    width: min(70%, 800px);
    flex-direction: row;
    position: relative;
    /* overflow: hidden; */
  }
  .svg-container {
    display: flex;

    align-items: center;
    width: 50%;
    /* background-color: brown; */

    /* position: relative; */
    overflow: hidden;
  }
  .svg-container .icon-mobile {
    display: none;
  }
  .svg-container .shadow-mobile {
    display: none;
  }

  .svg-container .icon-desktop {
    display: unset;
    scale: 170%;
    width: max(120px, 45%);

    /* background-color: aqua; */
  }
  .svg-container .shadow-desktop {
    display: unset;
    scale: 380%;
    width: 40%;
    /* background-color: aqua; */
    translate: -155%;
  }
  .sub-container .box-desktop {
    display: unset;
    position: absolute;
    top: 40%;
    left: -9%;
    width: max(60px, 17%);

    /* scale: 80%; */
  }

  .sub-container .faq-container {
    margin: unset;
    background-color: aqua;
    width: 50%;
  }
}
